<div class="row">
    <div class="col-md-12 mv-5 mt-1 bg-secondary">
        <div class="col-md-12 mx-auto text-center ">
            <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="">

        </div>
    </div>
</div>
<div class="col-md-5 mx-auto text-center">
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h5 class="card-title">Bem vindo!</h5>
            <p class="card-text">
                Esta é uma Single-page application, ou aplicação de página única, construída com o Angular, que utiliza o JWT
                para se autenticar em uma API Rest.
            </p>
            <p>
                Acesese a aplicação para vê-la funcionando.
            </p>
            <a href="#" class="card-link"></a>
            <a href="#" class="card-link"></a>
        </div>
    </div>
</div>