<div class="bar">
    <div class="card-header bg-dark text-white font-weight-bold">Curtidas/linguagem</div>
    <div class="bar-body">
      <div *ngIf="nomesLinguagens && nomesLinguagens.length == 0">
        <p class="text-center text-info">Dados não disponíveis</p>
      </div>
      <div style="display: block" *ngIf="nomesLinguagens && nomesLinguagens.length > 0">
        <canvas baseChart 
        [data]="curtidasLinguagens" 
        [labels]="nomesLinguagens" 
        [chartType]="tipoGrafico">
    </canvas>
      </div>
    </div>
  </div>