
  <div class="cont">
    <div class="logo"></div>
    <div class="blocoLista">
        <app-card-lista-linguagens [linguagens]="linguagemService.linguagens$ | async" (curtida)="curtirLinguagem($event)"></app-card-lista-linguagens>
      </div>
      
      <div class="bloco" >
        <app-card-grafico-linguagens [linguagens]="linguagemService.linguagens$ | async"></app-card-grafico-linguagens>
    </div>
    
    <div class="bloco">
      <app-card-bar-linguagens [linguagens]="linguagemService.linguagens$ | async"></app-card-bar-linguagens>
    </div>
  </div>

