
.cont{
    background-image:  url(src/assets/background_dashboard.jpg);
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    align-items: center;
    background-position: auto;
}
.bloco {
    float: left;
    width: 96%;
    height: 300px;
    margin-left: 2%;
    margin-bottom: 30px;
    border-radius: 10px;
    background: rgba(236, 97, 17, 0.3);
}
.blocoLista {
    float: left;
    width: 96%;
    height: 300px;
    margin-left: 2%;
    margin-bottom: 30px;
    border-radius: 10px;
    background: rgba(112, 17, 236, 0.1);
}

@media only screen and (min-width: 796px) {
    
    .cont{
        background-image:  url(src/assets/background_dashboard.jpg);
        background-position: center;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-size: cover;
        align-items: center;
        background-position: auto;
    }

    .bloco {
        float: left;
        width: 60%;
        height: 450px;
        margin-left: 0%;
        margin-right: 3%;
        margin-bottom: 20px;
        border-radius: 6px;
        background: rgba(43, 5, 65, 0.8);
    }
    
    .blocoLista {
        float: left;
        width: 30%;
        height: 650px;
        margin-left: 0%;
        margin-right: 3%;
        margin-bottom: 20px;
        border-radius: 6px;
        background: rgba(43, 5, 65, 0.8);
    }

}